* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #e76915;
    padding: 5px;
    margin: 1rem;
}

header img {
    width: 50px;
	height: 50px;
    top: -10px;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 28px;
    cursor: pointer;
}

h1 {
    display: inline-block;
    color: black;
    position: relative;
    top: -10px;
}

nav {
	background-color: #e76915;
    margin: 1rem;
}

#myButton::before {
    content: "=";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: black;
    text-decoration: none;
}

li.current-menu-item a {
    background-color: rgba(211, 200, 200, 0.2);
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

nav ul {
	list-style-type: none;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: .5rem;
	text-decoration: none;
}

nav a:hover {
	background-color: rgb(255, 255, 255, 0.2);
}

#hero {
    text-align: center;
    padding: 20px;
}

#hero-img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container, .container1 {
    margin: 1rem 2vw;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    padding: 20px;
}

footer {
    background-color: #e76915; /* Primary */
    color: black;
    padding: 10px;
    text-align: center;
}

footer img {
    width: 20px;
	height: 15px;
}

.dark-mode header {
    background-color: #1a1a1a;
}

.dark-mode .img {
    background-color: #fff;
}

.dark-mode body {
    color: #fff;
}

.dark-mode nav {
    background-color: #333;
}

.dark-mode ul.menuLinks li a {
    color: #fff;
}

.dark-mode .card {
    border-color: #fff;
    background-color: #1a1a1a;
}

.dark-mode h3 {
    background-color: #333;
    color: #fff;
}

.dark-mode h1 {
    background-color: #333;
    color: #fff;
}

.dark-mode footer {
    background-color: #1a1a1a;
    color: #fff;
}

/*CSS for the open class */
#myButton.open::before {
    content: "x";
}

ul.open.menuLinks {
    display: block;
}