* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
	line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px;
}

header img {
	border-radius: 50%;
}

header span {
    margin-left: 10px;
    font-weight: bold;
}

h1 {
	font-size: 2rem;
}

nav {
	display: flex;
    flex-direction: column;
    align-items: space-between;
	background-color: #36454f;
	/*margin: 0 auto;*/
}

nav ul {
	list-style-type: none;
	padding: 10px;
	text-align: center;
}

/*nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	background-color: aquamarine;
	color: #36454f;
}*/

main {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
	width: 20px;
	height: 15px;
}