body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

header {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

header img {
    border-radius: 50%;
}

header span {
    display: block;
    font-weight: bold;
    margin-top: 5px;
}

nav {
    background-color: #beb8b8;
}

ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 10px;
}

ul li a {
    text-decoration: none;
    color: rgb(14, 14, 14);
}

main {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
